@import "components/_segoe.scss";
@import "components/_source-sans-pro.scss";

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Segoe, Arial sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.header-logo {
  display: flex;
  align-items: center;

  span {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 64.35px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #5094f2;
    color: #fff;
    text-align: center;
  }

  h1 {
    font-weight: 300;
    font-size: 42.35px;
    margin: 0;
    margin-left: 15px;
  }
}

.header-menu {
  display: flex;
  align-items: flex-end;
  margin-top: 35px;

  a {
    font-weight: 400;
    font-size: 20.35px;
    text-decoration: none;
    color: #6c6c6c;
    margin-left: 35px;
    border-bottom: 3px solid transparent;
    padding-bottom: 14px;

    &:hover {
      border-bottom: 3px solid #5094f2;
    }
  }
}

.slick {
  background: url(../img/slick-background.jpg) no-repeat center / cover;
  width: 100%;
  height: 480px;
}

.slick-initialized .slick-slide {
  display: flex;
}

.sl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
}

.slick-text {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-weight: 300;
    font-size: 42.35px;
    color: #fff;
    margin: 0;
  }

  p {
    font-weight: 300;
    font-size: 26.35px;
    color: #fff;
    margin: 0;
    margin-top: 15px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5094f2;
    width: 174px;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 15px;

    &:hover {
      background-color: #126ded;
    }

    p {
      font-weight: 300;
      font-size: 22.35px;
      margin-left: 10px;
      margin-top: -3px;
    }

    i {
      color: #fff;
    }
  }
}

.popular-products {
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 70px;
}

.products-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 255px;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    font-size: 100px;
    color: #fff;
  }

  h3 {
    font-weight: 400;
    font-size: 20.35;
    color: #5094f2;
    margin: 0;
    margin-top: 20px;
  }

  p {
    font-weight: 400;
    font-size: 14.35;
    color: #909090;
    margin: 0;
    margin-top: 10px;
  }
}

.fa-pencil {
  background-color: #5094f2;
}

.fa-television {
  background-color: #d94748;
}

.fa-shopping-basket {
  background-color: #ebbb11;
}

.shopping {
  display: flex;
  justify-content: space-around;
  padding-top: 85px;
}

.cart {
  width: 375px;
  text-align: center;

  span {
    font-weight: 400;
    font-size: 42.35px;
    color: #6f7173;
  }

  img {
    margin-top: 30px;
  }
}

.text {
  width: 470px;
  margin-top: 80px;

  span {
    font-weight: 400;
    font-size: 26.35px;
    color: #6f7173;
  }

  p {
    font-weight: 300;
    font-size: 15.35px;
    color: #909090;
    margin-top: 25px;
    line-height: 1.9;
  }
}

footer {
  border-top: 1px solid #e5e5e5;
}

.footer-info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;

  span {
    font-weight: 300;
    font-size: 15.35px;
    color: #909090;
  }

  a {
    font-weight: 300;
    font-size: 15.35px;
    color: #909090;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
