@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe/SegoeWP-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe/SegoeWP-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe/SegoeWP.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe/SegoeWP-Light.ttf);
  font-weight: 300;
}
